body{
    /* display: flex;
    flex-direction: column; */
    margin: 0;
    /* flex: 1; */
    
}

.container {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    gap: 120px;
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 10px 180px;   
}

.links {
    display: flex;
    gap: 25px;
}

.img, .main-text {
    
    padding-bottom: 100px;
}


.main-text {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 400px;
}

.img {
    width: 600px;
    height: auto;
}


.main {
    display: flex;
    gap: 40px;
    justify-content: space-evenly;
}

h1 {
    font-size: 48px;
    color: white;
    font-weight: 800;
    margin: 0;
}

p {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}

a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    
}

button {
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
    padding: 8px 30px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    width: fit-content; 
}

a, button {
    transition: all 0.5s ease;
    transform: scale(1);
}

button:hover, a:hover {
    cursor: pointer;
    transform: scale(1.05);
    filter: brightness(120%);
}

.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.blocks {
    display: flex;
    gap: 30px;
}

.block {
    width: 300px;
}

.cats {
    width: 300px;
    height: 250px;
    overflow: none;
    border: 5px solid #688C9A;
    border-radius: 15px;
    flex-wrap: wrap;
}

h2 {
    font-size: 38px;
    margin-bottom: 50px;
}

.text {
    font-size: 18px;
    color: #404040;
}
